body {
	font-family: 'Avenir Semilight';
	font-weight: 400;
	font-style: normal;
	width: 405px;
	height: 573px;
	max-height: 573px;
	padding: 0PX;
	margin: 0px;
	text-align: center;
	background-color: #fff;
}
