/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
/*  position: absolute;*/
/*  top: 40%;*/
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #F18B53;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #F18B53;
  color: #fff;
}

/* Container for image text */
.caption-container {
  text-align: center;
}

.row {
  display: inline-block;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #e8e8e8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F18B53;
}
