::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
   background: #264f7f;
   border-radius: 10px;
}

#reupload {
   visibility: hidden;
   height: 0px;
   padding: 0px;
   margin: 0px;
   width: 0px;
}

.clickable_text {
   color: #f18b53;
   text-decoration-color: #f18b53;
   text-decoration: underline;
   cursor: pointer;
}

/*
Ratings Stars
*/

.rating {
   unicode-bidi: bidi-override;
   direction: rtl;
   text-align: center;
   color: #f18b53;
}

.rating > span {
   display: inline-block;
   position: relative;
   width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
   color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: #f18b53;
   cursor: pointer;
}

.rating_link {
   text-decoration: none;
   color: #f18b53;
}

.result_row {
   text-align: left;
   display: block;
   margin-left: 120px;
}

.bottom_content {
   position: relative;
   width: auto;
   height: 243px;
   margin-left: 10px;
}

.bottom-parent {
   width: auto;
   overflow: auto;
}

#score {
   font-size: 36px;
}

#score-container {
   color: #3975bb;
   border: 3px #3975bb solid;
   border-radius: 45px;
   padding: 14px 10px 10px 10px;
   font-size: 36px;
   margin-left: 30px;
   width: 60px;
   height: 60px;
   justify-content: center;
   align-items: center;
   display: inline-flex;
}

.job-rec-ad-container {
   display: flex;
   align-content: center;
   justify-content: center;
}

.job-rec-ad .text_bigish,
.job-rec-ad .text_smaller {
   text-align: left;
}

.job-rec-ad {
   display: flex;
   flex-direction: column;
   padding-left: 20px;
}

.job-rec-ad-match-score-container {
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
   padding-right: 20px;
}

.job-rec-ad-match-score {
   line-height: 100%;
   font-size: 20px;
   width: 34px;
   height: 18px;
   border: 1px black solid;
   border-radius: 50px;
   padding: 15px 6px;
   margin-right: 2px;
}

.job-rec-ad-box {
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #3975bb;
   padding: 20px 0px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.share-buttons {
   display: flex;
   justify-content: center;
}

.share-button-sm {
   font-size: 18px;
   box-sizing: border-box;
   margin: 0 5px;
}

.linkedin-icon {
   color: #0073b1;
}
.facebook-icon {
   color: #4267b2;
}
.twitter-icon {
   color: #1b95e0;
}
.email-icon {
   color: #555;
}
.copy-icon {
   color: #264f7f;
   position: relative;
   display: inline-block;
}
#tooltipText {
   visibility: hidden;
   color: black;
   padding: 5px;
   font-size: 14px;
   position: absolute;
   z-index: 1;
}
